# ==========================================
# ARCHIVO DE EJEMPLO (.env.example)
# ==========================================
# Instrucciones: Duplica este archivo, renómbralo a ".env" 
# y reemplaza los valores de abajo por tus credenciales reales.
# EL ARCHIVO ".env" NUNCA DEBE SUBIRSE A GIT.

# BASE DE DATOS
DB_SERVER=192.168.x.x
DB_PORT=3306
DB_NAME=nombre_base_datos
DB_USER=usuario_db
DB_PASSWORD=tu_password_seguro

# SEGURIDAD Y JWT
JWT_KEY=tu_super_llave_secreta_jwt_muy_larga_aqui
JWT_ISSUER=emp_backend
JWT_AUDIENCE=emp_users
JWT_DURATION=500

# AWS
AWS_REGION=us-east-1
AWS_ACCESS_KEY=TU_ACCESS_KEY_DE_AWS
AWS_SECRET_KEY=TU_SECRET_KEY_DE_AWS
AWS_S3_BUCKET_EMPADRONAMIENTO=nombre-bucket-emp
AWS_S3_BUCKET_RID=nombre-bucket-rid
AWS_S3_PREFIX=dev

# REKOGNITION
AWS_REK_COLLECTION_EMP=NombreColeccionEmp
AWS_REK_COLLECTION_RID=NombreColeccionRid

# RESEND
RESEND_TOKEN=re_tu_token_de_resend_aqui